.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .footer-dark{
    background-color: #e2e5ea !important;
  }
=======
body {
    background-color: #ffffff;
}

.header-with-bg {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gris {
    background-color: #e2e5ea !important;
}

.navbar-toggler .linea {
    background-color: #161815;
    !important;
}

.text-white-p {
    color: #ffffff;
    font-size: 40px;
}

.text-white-h1 {
    color: #ffffff;
    font-size: 6px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    margin-left: -64px;
}

.slider-container {
    position: relative;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

h1,
p {
    color: #000000;
}

.btn-red {
    color: #fff;
    background-color: #f05133;
    border-color: #f05133;
}

.bg-red {
    background-color: #f05133;
}

.text-red {
    color: #f05133;
}


.slider-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}

.navbar-nav .nav-link {
    position: relative;
    color: white;
}

.navbar-nav .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f05133;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.btn-red {
    background-color: #f05133;
}

.navbar-toggler {
    color: #ffffff00;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
}

.navbar-toggler span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #d91515;
    margin-bottom: 5px;
}

.navbar-toggler span:last-child {
    margin-bottom: 0;
}

.navbar-toggler span {
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.navbar-toggler:hover span {
    background-color: #f05133;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler span {
        height: 3px;
        margin-bottom: 5px;
    }
}

.btn-red {
    background-color: #f05133;
    transition: all 0.6s ease-in-out;
}

.btn-red:hover {
    background-color: #ffffff00;
    color: #f05133;
    border-color: #f05133;
}
>>>>>>> origin/header
